.botao{
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--cinza);
    cursor: pointer;
}

.botao[tipo="primario"]{
    background: var(--verde);
}

.botao[tipo="secundario"]{
    background: var(--rosa);
}