.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--preto);
    color: var(--cinza);
    padding: 0.75rem 0.5rem;
}

.cabecalho a{
    color: var(--cinza);
    text-decoration: none;
}

.cabecalho h1{
    font-size: 1.3rem;
}

.cabecalho h1 span{
    color: var(--rosa);
}